.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes fade {
  0% { opacity: 0 }
  5% { opacity: 1 }
  95% { opacity: 1 }
  100% { opacity: 0 }
}

.fade {
  animation: fade 5s linear;
}

#articleSaved {
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 10px;
  background-color: #bd1313;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  min-width: 100%;
  opacity: 0;
  z-index: 9999;
}