body {
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #ddd;
}

.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.site-content {
	flex: 1;
}

h1,
h3,
h4,
h5,
h6 {
  font-family: 'IBM Plex Serif', serif;
}

h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 50px;
  margin-bottom: 0;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin: 0;
}

.jumbotron {
  padding: 20px 0;
}

h3 {
  font-weight: 600;
}

.container {
  max-width: 960px;
}

.card-header {
  padding: 5px 15px;
}

.card-header h4 {
  margin-bottom: 0;
}

.action-div {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

a,
a:hover,
a:active,
a:focus {
  color: #bd1313;
}

a:hover,
a:active,
a:focus {
  text-decoration: underline !important;
}

h3 a,
h3 a:hover,
h3 a:active,
h3 a:focus {
  color: #000;
}

.full-article-link {
  font-weight: bold;
  cursor: pointer;
}

.no-results-icon {
  margin-bottom: 10px;
}

.article-card {
  border: 1px solid #666;
}

.article-card button {
  max-height: 41.6px;
}

.btn-search {
  margin-top: 32px;
  width: 100%;
}

.save-article-link,
.delete-article-link {
  font-weight: bold;
  color: #bd1313 !important;
  cursor: pointer;
}

.btn-action {
  background-color: #bd1313;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
}

.btn-view-saved {
  padding: 20px 27px;
}

.btn-view-search {
  padding: 18px 21px;
}

footer {
  text-align: center;
  color: #fff;
  margin-top: 5px;
  padding: 10px;
}

footer p {
  margin-bottom: 0;
}

footer a,
footer a:hover,
footer a:active,
footer a:focus {
  color: #fff;
  text-decoration: underline;
}

.col-option {
  text-align: right;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
    margin: 0;
  }

  h3 {
    font-size: 20px;
  }
  .btn-search {
    margin-top: 0;
  }
  .col-option {
    text-align: left;
  }
}